<div class="">

  <%= erb :'_errors'%>


  <form class="" action="/books" method="post">
    <div class="">
      <label for="title">Title</label>
      <input required
      type="text" name="book[title]" value="" id="title">
    </div>
    <div class="">
      <label for="author">Author</label>
      <input type="text" name="book[author]" value="" id="author"
      required>
    </div>

    <input type="submit" name="" value="Create">
  </form>
</div>
